---
import { getCollection } from "astro:content";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";
import { getRollSlug } from "../../components/rolls";
import RollPill from "../../components/RollPill.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<MarkdownPostLayout post={entry}>
  <p class="prose prose-slate dark:prose-invert italic no-underline">
    {remarkPluginFrontmatter.minutesRead}
  </p>
  <div class="flex flex-row items-start gap-2">
    {entry.data.rolls?.map((roll) => <RollPill roll={roll.id} />)}
  </div>
  <Content />
</MarkdownPostLayout>
