div.film-strip {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

div.film-scroll-container {
  padding: 10px;
  height: 100%;
  background-color: #eee;
  width: max-content;
  display: flex;
}

.film-scroll-container {
  --background: #333;
  --size: 12px;
  background-image: linear-gradient(
      to right,
      var(--background) calc(var(--size) * 1.4),
      transparent var(--size)
    ),
    linear-gradient(
      to bottom,
      var(--background) calc(var(--size) * 1),
      transparent var(--size)
    ),
    linear-gradient(
      to right,
      var(--background) calc(var(--size) * 1.4),
      transparent var(--size)
    ),
    linear-gradient(
      to bottom,
      var(--background) calc(var(--size) * 1),
      transparent var(--size)
    ),
    linear-gradient(
      to bottom,
      transparent calc(var(--size) * 1),
      var(--background) var(--size)
    );
  background-size:
    calc(var(--size) * 2) var(--size),
    calc(var(--size) * 2) var(--size),
    calc(var(--size) * 2) var(--size),
    calc(var(--size) * 2) var(--size),
    100% calc(100% - var(--size) * 3);
  background-repeat: repeat-x;
  background-position:
    0 var(--size),
    top left,
    0 calc(100% - var(--size)),
    bottom left,
    0 var(--size);
  padding: calc(var(--size) * 2) calc(var(--size) * 2);
  box-sizing: border-box;
}

.film-scroll-container .image-container {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#gallery > a > img.film-image {
  height: 100%;
  width: 100%;
  margin: 0;
}
