---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import EssayCard from "../../components/EssayCard.astro";
import TagComponent from "../../components/TagPill.astro";
import ProseHeadings from "../../components/ProseHeadings.astro";

export async function getStaticPaths() {
  const allEssays = await getCollection("photoessays");
  // Filter to only essays with tags, then get unique tags
  const essaysWithTags = allEssays.filter((essay) => essay.data.tags);
  const uniqueTags = [
    ...new Set(essaysWithTags.map((essay) => essay.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredEssays = essaysWithTags.filter((essay) =>
      essay.data.tags?.includes(tag),
    );
    return {
      params: { tag },
      props: { essays: filteredEssays },
    };
  });
}

const { tag } = Astro.params;
const { essays } = Astro.props;
---

<BaseLayout title={`Tagged ${tag}`}>
  <div
    class="flex
    flex-col
    px-4
    xs:px-4
    sm:px-8
    max-w-7xl
    justify-start
    mx-auto
    w-full"
  >
    <ProseHeadings>
      <p class="md:space-x-14 md:mb-20 mb-10 text-4xl font-bold capitalize">
        Essays tagged with <TagComponent tag={tag} class:list="text-base" />
      </p>
    </ProseHeadings>
    <ul>
      {
        essays.map((essay) => (
          <EssayCard essay={essay} url={`/essays/${essay.id}`} />
        ))
      }
    </ul>
  </div>
</BaseLayout>
