---
const { images, alt, url, tag, width, height } = Astro.props;
---

<div
  id="randomimage"
  class="relative group border-0 h-full min-h-40 bg-slate-500"
  data-images={images}
  data-alt={alt}
>
  <a href={url}>
    <img
      class="hidden w-full sm:h-[540px] xl:h-[1080px] lg:h-[720px] object-cover object-center brightness-75"
      style="object-position: 40% 35%;"
    />
    <p
      class="absolute inset-0 flex items-center justify-center text-[rgb(245,245,245)] text-2xl xl:text-4xl"
    >
      {tag}
    </p>
  </a>
  <slot />
</div>
<style>
  #randomimage {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  #randomimage {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  #randomimage:hover {
    opacity: 0.7;
  }
</style>
<script src="../scripts/getrandomimage.js"></script>
