---
import "../styles/MasonryLayout.css";
import { Image, getImage, imageConfig } from "astro:assets";
const { images } = Astro.props;
---

<div class="masonry not-prose">
  {
    images.map((image) =>
      image ? (
        <div class="image-container" id="gallery">
          <a
            href={image.src}
            class="image-link glightbox"
            data-astro-prefetch="false"
          >
            <Image
              src={image.src}
              alt={image.alt}
              loading="lazy"
              class="image"
              inferSize
              decoding={"async"}
            />
          </a>
        </div>
      ) : null,
    )
  }
</div>
<script src="../scripts/lightbox.js"></script>
