---
import { Image, getImage, imageConfig } from "astro:assets";
const { images, columns } = Astro.props;

const masonryColumnCount = columns ? columns : 4;
---

<style define:vars={{ masonryColumnCount }}>
  .masonry {
    column-count: 1;
    column-gap: 1em;
  }

  @media (min-width: 600px) {
    .masonry {
      column-count: var(--masonryColumnCount);
    }
  }

  .image-container {
    break-inside: avoid;
    margin-bottom: 0.5rem;
  }

  .image-link {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .image {
    display: block;
    margin: 0;
    padding: 0;
  }
</style>

<div class="masonry not-prose">
  {
    images.map((image) =>
      image ? (
        <div class="image-container" id="gallery">
          <a
            href={image.src}
            class="image-link glightbox"
            data-astro-prefetch="false"
          >
            <Image
              src={image.src}
              alt={image.alt}
              loading="lazy"
              class="image"
              inferSize
              decoding={"async"}
            />
          </a>
        </div>
      ) : null,
    )
  }
</div>
<script src="../scripts/lightbox.js"></script>
