---
import { Icon } from "astro-icon";
import { getRollSlug } from "./rolls";

const { roll } = Astro.props;
---

<a
  class="flex flex-row mr-2 py-1 w-auto no-underline"
  href={`/rolls/${getRollSlug(roll)}`}
>
  <Icon name="mdi:film" class="h-[20px] w-[20px] mt-[0.25em]" />
  <span class="ml-1 uppercase no-underline my-0">
    {getRollSlug(roll)}
  </span>
</a>
